/* add css styles here (optional) */


.input-unit-helper {
  pointer-events: none;
  height: 0;
  z-index: 1;
  overflow: visible;
  .wrapper{
    span:first-child{
      color: transparent !important;
      margin-right: 4px;
    }
    margin: 19px 0px 0 14px;
    display: inline-block;
    font-size: 16px;

    @media only screen and (max-width: 960px) {
      margin-top: 18px;
    }
  }

}


