/* add css styles here (optional) */

.input-unit-helper-mobile {
    pointer-events: none;
    height: 0;
    z-index: 1;
    overflow: visible;
    .wrapper-mobile {
        span:first-child {
            color: transparent !important;
            margin-right: 4px;
        }
        margin: 18px 0px 0 14px;
        display: inline-block;
        font-size: 16px;
    }
}
