
.table {

  &.sortable {
    thead {
      cursor: pointer;
    }
  }


  td {
    vertical-align: middle !important;
  }
}
.MuiTableCell-root{
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  .detailsPanel{
    background: #f5f5f5;
    position: relative;
    padding: 20px 20px 20px 60px;
  }
  .detailsPanel:after{
    content: " ";
    position: absolute;
    border-radius: 0 0 30px 30px;
    width: 32px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 12px solid white;
    height: 0px;
    left: 6px;
    top: 0;
  }
}
.MuiToolbar-root{
  color: #08404d;
  h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    .material-icons{
      font-weight: lighter;
    }
  }
}
.segment-color-gold {
  color: #d2b77f;
}
.segment-color-platinum {
  color: #addacc;
}
.segment-color-diamond {
  color: #4ddbe9;
}
.segment-color-super_diamond{
  color: #46c2d1;
  text-shadow: 0px 1px 10px #10eaff;
}
